//---- fonts----
$default-font-family: 'Lato',sans-serif;
$default-font-size: 12px;

//---- Colors----
$pimary-color: #3498db;
$pimary-font-color: #8ea1b4;
$primary-white: #fff;
$primary-green: #51dacf;
$light-grey: #f5f6f8;
$light-blue: #d4e1ea;
$dark-blue: #34495e;
$body-bg: #f3f5f8;

